<h1>Form for Uploading a file to s3</h1>

<% form_tag(posts_path, :method => "get", :id=>"theform") do %>  
<%= label_tag(:q, "Type something into this form:") %>  
<%= text_field_tag(:q) %>  
<%= hidden_field_tag(:selected_file, nil, :id=>"selectedFile") %>

<p>
Last time the form entry was <%= @check %>
</p>

<div class="main">
<%= s3_swf_upload_tag(
        :width => 488, 
        :height => 50, 
        :success => "alert('succeeded');document.getElementById('selectedFile').value=filename; document.getElementById('theform').submit();",
        :failed => 'alert("failed");',
        :selected => 'alert(filename + " selected - OK!");',
        :canceled => 'alert("canceled");',
        :prefix => '',
        :upload => 'Submit',
        :initial_message=> 'Your message about file...')
  %>
	<br />
	Maximum file size: <%= S3SwfUpload::S3Config.max_file_size/1024.0/1024.0 %>MB
	<hr />
</div>
<% end %>

<% if @selected_file %>
<p>

The file that was uploaded last time, <%=h @selected_file %>, can be
found <%= link_to("here",
	  "http://s3.amazonaws.com/#{S3SwfUpload::S3Config.bucket}/#{@selected_file}")
	  %>
<p>
<% end %>

