<h1>Example of use of s3-swf-upload-plugin </h1>
(<%= link_to ("GreenAsJade's fork",
     "http://github.com/GreenAsJade/s3-swf-upload-plugin/tree/master")
     %>) 
<h2> This shows a form for uploading a file to s3, along with fields for other info for your app...</h2>

<div class=main>

<% form_tag(posts_path, :method => "get", :id=>"theform") do %>  
<%= label_tag(:q, "Type something into this form:") %>  
<%= text_field_tag(:q) %>  
<%= hidden_field_tag(:selected_file, nil, :id=>"selectedFile") %>

<% if @check && @check != "" %>
(Last time the form entry was <%= @check %>)
<% end %>
</p>
<p>
Select a file to upload (Maximum file size set to :
<%= (S3SwfUpload::S3Config.max_file_size/1024.0/1024.0).to_i %>MB just to
stop craziness :) )
</p>

<%= s3_swf_upload_tag(
        :width => 488, 
        :height => 50, 
        :success => "alert('succeeded uploading ' + filename);document.getElementById('selectedFile').value=filename; document.getElementById('theform').submit();",
        :failed => 'alert("failed");',
        :selected => 'alert(filename + " selected - OK!");',
        :prefix => '',
        :upload => 'Submit',
        :initial_message=> 'Your message about file...')
  %>

<% end %>
<% if @selected_file %>
<p>

The file that was uploaded last time, <%=h @selected_file %>, can be
found on s3 <%= link_to("here",
	  "http://s3.amazonaws.com/#{S3SwfUpload::S3Config.bucket}/#{@selected_file}")
	  %>
<p>
<% end %>

</div>


