<h1>Form for uploading a file to s3, with other info for your app...</h1>

<div class=main>

<% form_tag(posts_path, :method => "get", :id=>"theform") do %>  
<%= label_tag(:q, "Type something into this form:") %>  
<%= text_field_tag(:q) %>  
<%= hidden_field_tag(:selected_file, nil, :id=>"selectedFile") %>

<p>
<% if @check && @check != "" %>
(Last time the form entry was <%= @check %>)
<% end %>
</p>
<p>
Select a file to upload (Maximum file size: <%= S3SwfUpload::S3Config.max_file_size/1024.0/1024.0 %>MB)
</p>

<%= s3_swf_upload_tag(
        :width => 488, 
        :height => 50, 
        :success => "alert('succeeded uploading ' + filename);document.getElementById('selectedFile').value=filename; document.getElementById('theform').submit();",
        :failed => 'alert("failed");',
        :selected => 'alert(filename + " selected - OK!");',
        :prefix => '',
        :upload => 'Submit',
        :initial_message=> 'Your message about file...')
  %>

<% end %>
</div>

<% if @selected_file %>
<p>

The file that was uploaded last time, <%=h @selected_file %>, can be
found <%= link_to("here",
	  "http://s3.amazonaws.com/#{S3SwfUpload::S3Config.bucket}/#{@selected_file}")
	  %>
<p>
<% end %>

